@model ClinicApp.ViewModels.PatientRegistrationViewModel

<div class="container-fluid p-0 small">

    <div class="row g-1">
        <div class="col-md-2">
            <label asp-for="UHIDType"></label>
            <select asp-for="UHIDType" asp-items="Model.UHIDTypes" class="form-control form-control-sm"></select>
            <span asp-validation-for="UHIDType" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <label asp-for="UHIDNo"></label>
            <input asp-for="UHIDNo" class="form-control form-control-sm" />
            <span asp-validation-for="UHIDNo" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <label asp-for="RegistrationDate"></label>
            <input asp-for="RegistrationDate" class="form-control form-control-sm" type="date" />
            <span asp-validation-for="RegistrationDate" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <label asp-for="RegistrationTime"></label>
            <input asp-for="RegistrationTime" class="form-control form-control-sm" type="time" />
            <span asp-validation-for="RegistrationTime" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <label asp-for="Sex"></label>
            <select asp-for="Sex" asp-items="Model.Sexes" class="form-control form-control-sm"></select>
            <span asp-validation-for="Sex" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <label asp-for="PatientTitle"></label>
            <select asp-for="PatientTitle" asp-items="Model.PatientTitles" class="form-control form-control-sm"></select>
            <span asp-validation-for="PatientTitle" class="text-danger"></span>
        </div>
    </div>

    <div class="row g-1 mt-1">
        <div class="col-md-3">
            <label asp-for="PatientName"></label>
            <input asp-for="PatientName" class="form-control form-control-sm" />
            <span asp-validation-for="PatientName" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <label asp-for="DOB"></label>
            <input asp-for="DOB" class="form-control form-control-sm" type="date" />
            <span asp-validation-for="DOB" class="text-danger"></span>
        </div>
        <div class="col-md-1">
            <label asp-for="Age"></label>
            <input asp-for="Age" class="form-control form-control-sm" type="number" min="0" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <label asp-for="GuardianTitle"></label>
            <select asp-for="GuardianTitle" asp-items="Model.GuardianTitles" class="form-control form-control-sm"></select>
            <span asp-validation-for="GuardianTitle" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Guardian"></label>
            <input asp-for="Guardian" class="form-control form-control-sm" />
            <span asp-validation-for="Guardian" class="text-danger"></span>
        </div>
    </div>

    <div class="row g-1 mt-1">
        <div class="col-md-4">
            <label asp-for="MobileNo"></label>
            <input asp-for="MobileNo" class="form-control form-control-sm" />
            <span asp-validation-for="MobileNo" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control form-control-sm" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Occupation"></label>
            <input asp-for="Occupation" class="form-control form-control-sm" />
        </div>
    </div>

    <div class="row g-1 mt-1">
        <div class="col-md-12">
            <label asp-for="Address"></label>
            <textarea asp-for="Address" class="form-control form-control-sm"></textarea>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>

    <div class="row g-1 mt-1">
        <div class="col-md-3">
            <label asp-for="Place"></label>
            <input asp-for="Place" class="form-control form-control-sm" />
        </div>
        <div class="col-md-3">
            <label asp-for="District"></label>
            <input asp-for="District" class="form-control form-control-sm" />
        </div>
        <div class="col-md-3">
            <label asp-for="GSTState"></label>
            <select asp-for="GSTState" asp-items="Model.GSTStates" class="form-control form-control-sm"></select>
            <span asp-validation-for="GSTState" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Country"></label>
            <select asp-for="Country" asp-items="Model.Countries" class="form-control form-control-sm"></select>
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
    </div>

    <div class="row g-1 mt-1">
        <div class="col-md-2">
            <label asp-for="PinCode"></label>
            <input asp-for="PinCode" class="form-control form-control-sm" />
        </div>
        <div class="col-md-3">
            <label asp-for="PatientAadhar"></label>
            <input asp-for="PatientAadhar" class="form-control form-control-sm" />
        </div>
        <div class="col-md-3">
            <label asp-for="GuardianAadhar"></label>
            <input asp-for="GuardianAadhar" class="form-control form-control-sm" />
        </div>
        <div class="col-md-2">
            <label asp-for="MaritalStatus"></label>
            <select asp-for="MaritalStatus" asp-items="Model.MaritalStatuses" class="form-control form-control-sm"></select>
        </div>
        <div class="col-md-2">
            <label asp-for="BloodGroup"></label>
            <select asp-for="BloodGroup" asp-items="Model.BloodGroups" class="form-control form-control-sm"></select>
        </div>
    </div>

    <div class="row g-1 mt-1">
        <div class="col-md-3">
            <label asp-for="AllergicTo"></label>
            <input asp-for="AllergicTo" class="form-control form-control-sm" />
        </div>
        <div class="col-md-3">
            <label asp-for="ConsultantDoctorId"></label>
            <select asp-for="ConsultantDoctorId" asp-items="Model.ConsultantDoctors" class="form-control form-control-sm"></select>
            <span asp-validation-for="ConsultantDoctorId" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="RefDoctorId"></label>
            <select asp-for="RefDoctorId" asp-items="Model.RefDoctors" class="form-control form-control-sm"></select>
        </div>
        <div class="col-md-3">
            <label asp-for="PaymentTerms"></label>
            <select asp-for="PaymentTerms" asp-items="Model.PaymentTermsList" class="form-control form-control-sm"></select>
        </div>
    </div>

    <div class="row g-1 mt-1">
        <div class="col-md-3">
            <label asp-for="RegistrationType"></label>
            <select asp-for="RegistrationType" asp-items="Model.RegistrationTypes" class="form-control form-control-sm"></select>
        </div>
        <div class="col-md-3">
            <label asp-for="CompOrInsOrCamp"></label>
            <select asp-for="CompOrInsOrCamp" asp-items="Model.CompInsCampList" class="form-control form-control-sm"></select>
        </div>
        <div class="col-md-6">
            <label asp-for="PatientCondition"></label>
            <input asp-for="PatientCondition" class="form-control form-control-sm" />
        </div>
    </div>

    <div class="row g-1 mt-1">
        <div class="col-md-6">
            <label asp-for="ReferenceOrPicmeNo"></label>
            <input asp-for="ReferenceOrPicmeNo" class="form-control form-control-sm" />
        </div>
        <div class="col-md-6">
            <label asp-for="Photo"></label>
            <input asp-for="Photo" type="file" class="form-control form-control-sm" />
        </div>
    </div>

    <div class="row g-1 mt-1">
        <div class="col-md-2">
            <div class="form-check">
                <input asp-for="IsActive" class="form-check-input" />
                <label asp-for="IsActive" class="form-check-label"></label>
            </div>
        </div>
    </div>

</div>
